In [1]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

In [2]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
print(x)
print(y)

{'cherry', 'banana', 'apple'}
{'microsoft', 'apple', 'google'}

In [3]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
for fruit in x:
    print(x)

{'cherry', 'banana', 'apple'}
{'cherry', 'banana', 'apple'}
{'cherry', 'banana', 'apple'}

In [4]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
for  fruit in x:

SyntaxError: incomplete input (2276210974.py, line 3)

In [5]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
for fruit in x:
    print(fruit)

cherry
banana
apple

In [6]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
for fruit in x:
    print(fruit,end=",")

cherry,banana,apple,

In [7]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
i = 0
while i<3:
    print(x[i])
    i=i+1

TypeError: 'set' object is not subscriptable

In [9]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
i = 0
while i<=2:
    print(i)
    i = i+1

0
1
2

In [10]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
print(X[1])

NameError: name 'X' is not defined

In [11]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
PRINT(X{0})

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3436526527.py, line 3)

In [12]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
print(bananna in x)

NameError: name 'bananna' is not defined

In [14]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
print('banana' in x)

True

In [15]:
x = set(range(0,6))
print(x)
print(x)

{0, 1, 2, 3, 4, 5}
{0, 1, 2, 3, 4, 5}

In [16]:
x = set(range(0,6))
print(x)

{0, 1, 2, 3, 4, 5}

In [17]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [18]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana","apple")

print(thisset)

TypeError: set.remove() takes exactly one argument (2 given)

In [19]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [21]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana" ,"cherry")

print(thisset)

TypeError: set.discard() takes exactly one argument (2 given)

In [4]:
i=0
while i<=5:
    print(i*2"*"")
    i=i+1

SyntaxError: unterminated string literal (detected at line 3) (3367500025.py, line 3)

In [5]:
for star in range(1,6):
    print("*"*star)

*
**
***
****
*****

In [11]:
i=0
while i<=5:
    print("* "*i)
    i=i+1

*
* *
* * *
* * * *
* * * * *

In [10]:
i=0
while i<=5:
    print("* "*i)
    i=i+1

*
* *
* * *
* * * *
* * * * *

In [12]:
for star in range(1,4):
    print("* "*star)

*
* *
* * *

In [14]:
i=0 
while i<=5:
    b=1
    while b<=5-i:
        print(" ",end="")
        b=b+1
    c=1
    while c<=i:
        print("*",end="")
        c=c+1
    print()
    i=i+1

    *
   **
  ***
 ****
*****

In [15]:
i=0 
while i<=5:
    b=1
    while b<=5-i:
        print(" ",end="")
        b=b+1
    c=1
    while c<=i:
        print(c,end="")
        c=c+1
    print()
    i=i+1

    1
   12
  123
 1234
12345

#### i=0 
while i<=5:
    b=1
    while b<=5-i:
        print(" ",end="")
        b=b+1
    c=1
    while c<=i:
        print(i,end="")
        c=c+1
    print()
    i=i+1

In [19]:
i=0 
while i<=5:
    b=1
    while b<=5-i:
        print(,end="")
        b=b+1
    print()
    i=i+1

00000
1111
222
33
4

In [25]:
i=1 
while i<=15:
    b=1
    while b<=5-i:
        print(b,end="")
        b=b+1
    print()
    i=i+1

1234
123
12
1

In [26]:
i=0 
while i<=5:
    b=1
    while b<=5-i:
        print(,end="")
        b=b+1
    print()
    i=i+1

1111
222
33
4

In [31]:
i=0 
while i<=5:
    b=1
    while b<=-i:
        print(' ',end="")
        b=b+1
    print(b)
    i=i+1

1
1
1
1
1
1

In [36]:
i=0 
while i<=5:
    c=1
    while c<=i:
        print(i,end="")
        c=c+1
    print()
    i=i+1

1
22
333
4444
55555

In [37]:
i=0 
while i<=5:
    c=1
    while c<=i:
        print(c,end="")
        c=c+1
    print()
    i=i+1

1
12
123
1234
12345

In [38]:
i=0 
while i<=5:
    c=1
    while c<=i:
        print(c,end="")
        c=c+1
    print()
    i=i+1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [39]:
i=0 
while i<=5:
    c=1
    while c<=i:
        print()
        c=c+1
    print(c)
    i=i+1

1

2


3



4




5





6

In [1]:
x=range(input("enter the number"))
i=0
while i<=5:
    print("x "*i)
    i=i+1

enter the number10

TypeError: 'str' object cannot be interpreted as an integer

In [2]:
x = range(input("enter the number"))

enter the number10

TypeError: 'str' object cannot be interpreted as an integer

In [3]:
x = int(input())
i=0
while i<=5:
    print("x "*i)
    i=i+1

enter the number10

x
x x
x x x
x x x x
x x x x x

In [4]:
x = range(input())
i=0
while i<=5:
    print(x*i)
    i=i+1

10

TypeError: 'str' object cannot be interpreted as an integer

In [7]:
x = int(input())
i=1
while i<=25:
    print(x*i)
    i=i+1

250
250
500
750
1000
1250
1500
1750
2000
2250
2500
2750
3000
3250
3500
3750
4000
4250
4500
4750
5000
5250
5500
5750
6000
6250

In [10]:
x = int(input())
i=x
while i<=15:
    print(i*i)
    i=i+1

15
225

In [13]:
n= int(input("enter the number of rows"))
num =1
for col in range(1,n+1):
    for row in range(1,col+1):
        print(num,end=" ")
        num = num+1
    print()

enter the number of rows4
1
2 3
4 5 6
7 8 9 10

In [16]:
n= int(input("enter the number of rows"))
num =1
for col in range(1,n+1):
    for row in range(1,col+1):
        print(num,end=" ")
        num = num+1
    print()

enter the number of rows5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [25]:
n= int(input("enter the number of rows"))
num =1
for col in range(1,n+1):
    for row in range(1,col+1):
        print(num,end=" ")
        num = num+1
    print()

enter the number of rows5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [17]:
n = int(intput("enter the number of rows"))
for i in range(n):
    for j in range(i+1):
        print(,end="")
    print()

SyntaxError: invalid syntax (274045247.py, line 4)

In [18]:
n = int(intput("enter the number of rows"))
for i in range(n):
    for j in range(i+1):
        print(j,end="")
    print()

NameError: name 'intput' is not defined

In [20]:
n = int(input("enter the number of rows"))
for i in range(n):
    for j in range(i+1):
        print(j,end="")
    print()

enter the number of rows5
0
01
012
0123
01234

In [21]:
n = int(input("enter the number of rows"))
for i in range(n):
    for j in range(i+1):
        print(,end="")
    print(j)

SyntaxError: invalid syntax (2033413013.py, line 4)

In [22]:
n = int(input("enter the number of rows"))
for i in range(n):
    for j in range(i+1):
        print(i,end="")
    print()

enter the number of rows5
0
11
222
3333
44444

In [23]:
n = int(input("enter the number of rows"))
for i in range(n):
    for j in range(i+1):
        print(i,end="")
    print(i)

enter the number of rows5
00
111
2222
33333
444444

In [24]:
n = int(input("enter the number of rows"))
for i in range(n):
    for j in range(i+1):
        print(i,end=" ")
    print(i)

enter the number of rows5
0 0
1 1 1
2 2 2 2
3 3 3 3 3
4 4 4 4 4 4

In [26]:
n = int(input("enter the number of rows"))
for i in range(n):
    for j in range(i+1):
        print(i,end=" ")
    print()

enter the number of rows5
0
1 1
2 2 2
3 3 3 3
4 4 4 4 4

In [27]:
n = int(input("enter the number of rows"))
for i in range(n):
    for j in range(i+1):
        print(j,end=" ")
    print(i)

enter the number of rows5
0 0
0 1 1
0 1 2 2
0 1 2 3 3
0 1 2 3 4 4

In [28]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [29]:
n = int(input("enter the number of rows"))
for i in range(n):
    for j in range(1,i+1):
        print(j,end=" ")
    print(i)

enter the number of rows5
0
1 1
1 2 2
1 2 3 3
1 2 3 4 4

In [31]:
n = int(input("enter the number of rows"))
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()

enter the number of rows5
*
* *
* * *
* * * *
* * * * *

In [35]:
n = 5
for i in range(n):
    for j in range(i+1):
        x=0
        for k in range(j):
            x = x+n-k
        if j%2 ==0:
            print(x+i-j+1,end=" ")
        else:
            print(x+n-i,end=" ")
    print()

1
2 9
3 8 10
4 7 11 14
5 6 12 13 15