In [2]:
num = int(input(" enter the no. of rows:"))
for i in range(n):
    print(i)

 enter the no. of rows:5
0
1
2
3
4

In [3]:
num = int(input(" enter the no. of rows:"))
for i in range(num+1):
    print(i)

 enter the no. of rows:5
0
1
2
3
4
5

In [5]:
num = int(input(" enter the no. of rows:"))
for i in range(num):
    print(i, end="")

 enter the no. of rows:5
01234

In [6]:
num = int(input(" enter the no. of rows:"))
for i in range(num):
    print(i,end=" ")

 enter the no. of rows:5
0 1 2 3 4

In [7]:
num = int(input(" enter the no. of rows:"))
for i in range(n):
    print(i, end=" ")

 enter the no. of rows:6
0 1 2 3 4

In [8]:
num = int(input())
for i in range(num):
    print(i,end=" ")

6
0 1 2 3 4 5

In [9]:
num = int(input(" enter the no. of rows:"))
for i in range(num):
    print("*"*i)

 enter the no. of rows:5

*
**
***
****

In [1]:
num = int(input(" enter the no. of rows:"))
for i in range(num):
    print("*"*num)

 enter the no. of rows:5
*****
*****
*****
*****
*****

In [2]:
num = int(input(" enter the no. of rows:"))
for i in range(num):
    print("*"*i)

 enter the no. of rows:5

*
**
***
****

In [4]:
n = int(input("enter the no. of number"))
for i in range(n):
    print("*"*n)

enter the no. of number3
***
***
***

In [6]:
n = int(input("enter the no. of number"))
for i in range (n):
    print((str(n)+'')*n)

enter the no. of number3
333
333
333

In [7]:
n =input("enter the no. of number")
for i in range (n):
    print((str(n)+'')*n)

enter the no. of number333

TypeError: 'str' object cannot be interpreted as an integer

In [10]:
n = int(input("enter the no. of number"))
for i in range (n):
    print((str(n)+'')*n)

enter the no. of number4
4444
4444
4444
4444

In [11]:
n = int(input("enter the no. of number"))
for i in range (n):
    print((str(n)+)*n)

enter the no. of number4
4444
4444
4444
4444

In [15]:
n = int(input("enter the no. of number"))
for i in range (n):
    print((str(n))*n)

enter the no. of number4
4444
4444
4444
4444

In [17]:
n = int(input("enter the no. of number"))
for i in range (n-1):
    print((str(n)+'')*3)

enter the no. of number4
444
444
444

In [18]:
n = int(input("enter the no. of number"))
for i in range (n-1):
    print((str(n)+'')*n)

enter the no. of number4
4444
4444
4444

In [19]:
n = int(input("enter the no. of number"))
for i in range(n):
    print((str(i+1))*n)

enter the no. of number3
111
222
333

In [20]:
n = int(input("enter the no. of number"))
for i in range(n):
    print(str(i+1)*n)

enter the no. of number4
1111
2222
3333
4444

In [21]:
n = int(input("enter the no. of number"))
for i in range(n):
    print((str(i+1))*i)

enter the no. of number4

2
33
444

In [22]:
n = int(input("enter the no. of number"))
for i in range(n):
    print((str(i))*n)

enter the no. of number4
0000
1111
2222
3333

In [23]:
n = int(input("enter the no. of number"))
for i in range(n):
    print((str(i))*i)

enter the no. of number4

1
22
333

In [24]:
n = int(input("enter the no. of number"))
for i in range(1,n):
    print((str(i))*i)

enter the no. of number4
1
22
333

In [25]:
n = int(input("enter the no. of number"))
for i in range(n):
    print((str(i))*n)

enter the no. of number4
0000
1111
2222
3333

In [26]:
n = int(input("enter the no. of number"))
for i in range(n):
    print((str(i+1))*n)

enter the no. of number4
1111
2222
3333
4444

In [30]:
n = int(input("enter the no. of number"))
for i in range(n):
    print((str(i)+' ') *n)

enter the no. of number4
0 0 0 0
1 1 1 1
2 2 2 2
3 3 3 3

In [31]:
n = int(input("enter the number of rows"))
for i in range(n):
    print('A '*n)

enter the number of rows3
A A A
A A A
A A A

In [34]:
n = int(input("enter the number of row"))
for i in range(n):
    print((chr(65+i)+' ')*(i+1))

enter the number of row4
A
B B
C C C
D D D D

In [35]:
n = int(input("enter the number of row"))
for i in range(n):
    print((chr(65+i)+' ')*(i+1))

enter the number of row5
A
B B
C C C
D D D D
E E E E E

In [36]:
n = int(input("enter the no.of rows"))
for i in range(n):
    print("* "*(n-i))

enter the no.of rows4
* * * *
* * *
* *
*

In [39]:
# reverse right angle triangle
n = int(input("enter the no.of rows"))
for i in range(n):
    for j in range(n-i):
        print(j+1,end=' ')
    print()

enter the no.of rows4
1 2 3 4
1 2 3
1 2
1

In [40]:
# reverse right angle triangle
n = int(input("enter the no.of rows"))
for i in range(n):
    for j in range(n-i):
        print(j+1,end=' ')
    print()

enter the no.of rows7
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [45]:
n = int(input("enter the number of rows:"))
for i in range(n):
    print(' '*(n-i-1)+(str(i+1)+' ')*(i+1))

enter the number of rows:4
   1
  2 2
 3 3 3
4 4 4 4

In [46]:
n = int(input("enter the number of rows:"))
for i in range(n):
    print(' '*(n-i-1)+(str(i+1)+' ')*(i+1))

enter the number of rows:4
   1
  2 2
 3 3 3
4 4 4 4

In [48]:
n = int(input("enter the number of rows:"))
for i in range(n):
    print(' '*(n-i-1),"*")

enter the number of rows:4
    *
   *
  *
 *

In [49]:
n = int(input("enter the number of rows:"))
for i in range(n):
    print(' '*(n-i-1)+(str(i+1)+' '),"*")

enter the number of rows:4
   1  *
  2  *
 3  *
4  *

In [50]:
n = int(input("enter the number of rows:"))
for i in range(n):
    print("*",' '*(n-i-1))

enter the number of rows:4
*
*
*
*

In [51]:
n = int(input("enter the number of rows:"))
for i in range(n):
    print(' '*(n-i-1)*(i+1),"*")

enter the number of rows:4
    *
     *
    *
 *

In [54]:
n = int(input("enter the number of rows:"))
for i in range(n):
    print(' '*(n-i-1),"*",(i+1))

enter the number of rows:4
    * 1
   * 2
  * 3
 * 4

In [56]:
n = int(input("enter the number of rows:"))
for i in range(n):
    print("*")

enter the number of rows:4
*
*
*
*

In [58]:
n = int(input("enter the number of rows:"))
for i in range(n):
    print(' '*(n-i-1),end='')
    for j in range(i+1):
          print(chr(64+n-i),end=' ')
    print()

enter the number of rows:4
   D
  C C
 B B B
A A A A

In [61]:
n = int(input("enter the number of rows:"))
for i in range(n):
    print(' '*(n-i-1),end='')
    for j in range(i+1):
          print(chr(64+n-j),end=' ')
    print()

enter the number of rows:4
   D
  D C
 D C B
D C B A

In [63]:
n = int(input("enter the number of rows:"))
for i in range(n):
    print(' '*(n-i-1),end='')
    for j in range(i+1):
          print(chr(68-j),end=' ')
    print()

enter the number of rows:4
   D
  D C
 D C B
D C B A

In [67]:
n = int(input("enter the number of rows:"))
for i in range(n):
    print(' '*(n-i-1),end='')
    for j in range(i+1):
        print("*",end=" ")
    print()

enter the number of rows:4
   *
  * *
 * * *
* * * *

In [74]:
n = int(input("enter the number of rows:"))
for i in range(n):
    print(' '*(n-i-1),end='')
    for j in range(i+1):
        print("*",end=" ")
    print()

enter the number of rows:4
   *
  * *
 * * *
* * * *

In [3]:
# right half diamand
n = int(input("enter the no. of rows:"))
for i in range(n):
    for j in range(i+1):
        print(chr(65+j),end=" ")
    print()

enter the no. of rows:4
A
A B
A B C
A B C D

In [4]:
# right half diamand
n = int(input("enter the no. of rows:"))
for i in range(n):
    for j in range(i+1):
        print(chr(65+j),end=" ")
    print()
for i in range(n-1):
    for j in range(n-i-1):
        print(chr(65+j),end=" ")
    print()

enter the no. of rows:4
A
A B
A B C
A B C D
A B C
A B
A

In [6]:
# right half diamand
n = int(input("enter the no. of rows:"))
for i in range(n):
    for j in range(i+1):
        print(chr(65+j),end=" ")
    print()
for i in range(n-1):
    for j in range(n-i-1):
        print(chr(65+j),end=" ")
    print()

enter the no. of rows:8
A
A B
A B C
A B C D
A B C D E
A B C D E F
A B C D E F G
A B C D E F G H
A B C D E F G
A B C D E F
A B C D E
A B C D
A B C
A B
A

In [1]:
# right half diamand
n = int(input("enter the no. of rows:"))
for i in range(n):
    for j in range(i+1):
        print(chr(65+j),end=" ")
    print()
for i in range(n-1):
    for j in range(n-i-1):
        print(chr(65+j),end=" ")
    print()

enter the no. of rows:5
A
A B
A B C
A B C D
A B C D E
A B C D
A B C
A B
A

In [2]:
# right half diamand
n = int(input("enter the no. of rows:"))
for i in range(n):
    for j in range(i+1):
        print(chr(65+j),end=" ")
    print()
for i in range(n-1):
    for j in range(n-i-1):
        print(chr(65+j),end=" ")
    print()

enter the no. of rows:10
A
A B
A B C
A B C D
A B C D E
A B C D E F
A B C D E F G
A B C D E F G H
A B C D E F G H I
A B C D E F G H I J
A B C D E F G H I
A B C D E F G H
A B C D E F G
A B C D E F
A B C D E
A B C D
A B C
A B
A

In [3]:
# right half diamand
n = int(input("enter the no. of rows:"))
for i in range(n):
    for j in range(i+1):
        print(chr(65+j),end=" ")
    print()
for i in range(n-1):
    for j in range(n-i-1):
        print(chr(65+j),end=" ")
    print()

enter the no. of rows:3
A
A B
A B C
A B
A

In [6]:
# right half diamand
n = int(input("enter the no. of rows:"))
for i in range(n):
    for j in range(n-1):
        print(i+4,end=" ")
    print()

enter the no. of rows:5
4 4 4 4
5 5 5 5
6 6 6 6
7 7 7 7
8 8 8 8

In [10]:
n = int(input("enter the no. of rows:"))
for i in range(n):
    print(' '*i,end='')
    for j in range(n-i):
        print(chr(65+j),end=" ")
    print()

enter the no. of rows:4
A B C D
 A B C
  A B
   A

In [11]:
n = int(input("enter the no. of rows:"))
for i in range(n):
    print(' '*(n-i)+"* "*(i+1))

enter the no. of rows:4
    *
   * *
  * * *
 * * * *

In [14]:
n = int(input("enter the no. of rows:"))
for i in range(n):
    print(' '*(n-i-1)+"* "*(i+1))

enter the no. of rows:4
   *
  * *
 * * *
* * * *

In [15]:
n = int(input("enter the no. of rows:"))
for i in range(n):
    print(' '*(n-i-1)+"* "*(i+1))
for i in range(n-1):
    print(' '*(i+1)+"* "*(n-i-1))

enter the no. of rows:4
   *
  * *
 * * *
* * * *
 * * *
  * *
   *